{% extends 'base.html' %}

{% block title %}Sistema Contable JP Ingeniería{% endblock %}

{% block content %}
    <div class="container my-4">
        <h1 class="text-center mb-4">Bienvenido a Sistema Contable JP Ingeniería</h1>
        <p class="text-center">Transformando la contabilidad de tu empresa de manera eficiente.</p>

        <div class="row my-5">
            <div class="col-md-3 mx-auto">
                <div class="card text-center bg-primary text-white">
                    <div class="card-body">
                        <i class="material-icons md-48 mb-3">calculate</i>
                        <h4 class="card-title">Utilidades</h4>
                        <p class="card-text">Realiza cálculos y operaciones contables de manera eficiente.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-light">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card text-center bg-success text-white">
                    <div class="card-body">
                        <i class="material-icons md-48 mb-3">description</i>
                        <h4 class="card-title">Reportes</h4>
                        <p class="card-text">Genera informes detallados y personalizados sobre la situación financiera.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-light">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card text-center bg-info text-white">
                    <div class="card-body">
                        <i class="material-icons md-48 mb-3">show_chart</i>
                        <h4 class="card-title">Predicciones</h4>
                        <p class="card-text">Utiliza análisis predictivos para anticipar tendencias y tomar decisiones informadas.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-light">Detalles</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto">
                <div class="card text-center bg-warning text-white">
                    <div class="card-body">
                        <i class="material-icons md-48 mb-3">account_balance</i>
                        <h4 class="card-title">Cuentas</h4>
                        <p class="card-text">Administra y sigue el estado de tus cuentas con facilidad.</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-light">Detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
